
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4a2b055604.js" crossorigin="anonymous"></script>
    <title>Document</title>


   

export default function HeroSection({ className = "" }: HeroSectionProps) {
  return (
    <div
      className={`bg-ttttt-get-schooled-tsmiles-tgrin-tlaugh-button_background-tttavatar-tphillip-massey-smile-of-the-year-ttavatar-tnannie-lawrence-best-little-smile-tavatar-tbruce-walters-best-friend-smile-ttavatar-thenry-hughes-24h-smiles-winne-bg-background-learn-from-the-pros font-source_sans_pro z-0 flex flex-grow flex-col items-center justify-end gap-y-[38px] bg-cover bg-center px-52 pb-24 pt-56 text-center tracking-[0px] text-white ${className}`}
    >
      <div className="z-[1] flex items-end justify-center self-stretch px-40 font-bold leading-[normal]" >
        <div className="flex flex-col self-stretch">
          <div className="relative z-0 flex flex-grow flex-col items-center pb-2.5" >
            <div className="z-0 flex flex-grow flex-col justify-center self-stretch" >
              <h1 className="text-center text-[120px] leading-[normal]">
                Get schooled
              </h1>
            </div>
            <div className="absolute bottom-0 left-[calc(50%_+_-10px_+_-116px)] z-0 flex h-5 w-[52px] flex-shrink-0 flex-col justify-center" >
              <div className="text-center leading-[normal]">SMILES</div>
            </div>
          </div>
          <div className="flex h-0 flex-shrink-0 items-end justify-center pl-1.5" >
            <div className="flex-grow text-center leading-[normal]">
              GRIN
            </div>
          </div>
        </div>
        <div className="flex w-0 flex-shrink-0 items-center">
          <div className="mr-[-49px] flex-grow leading-[normal]">
            LAUGH
          </div>
        </div>
      </div>
      <button className="z-[2] flex items-center justify-center rounded-[22px] bg-purple-400 py-[13px] pl-[13px] pr-3.5" >
        <div className="flex-grow text-center text-sm font-semibold leading-[normal]" >
          REGISTER FOR FREE
        </div>
      </button>
      <div className="absolute left-[calc(50%_+_-20px_+_-96px)] top-[calc(50%_+_-20px_+_105px)] z-0 h-10 w-64 flex-shrink-0 text-[32px] leading-[normal]" >
        <span className="font-bold text-purple-400">{"Learn "}</span>
        <span className="font-light">from the pros</span>
      </div>
      <div className="z-[4] flex flex-col justify-end self-stretch pl-[3px] pt-64" >
        <TestimonialSection />
      </div>
    </div>
  );
}

interface HeroSectionProps {
  className?: string;
}



import ProfileAvatar from "./Users/Marwan/Desktop/CSS-Advanced/5.png";

export default function TestimonialCard({
  className = "",
}: TestimonialCardProps) {
  return (
    <div
      className={`z-0 flex flex-shrink-0 flex-col items-center pb-4 ${className}`}
    >
      <BackgroundImage className="absolute bottom-[-108px] left-[-260px] right-[-237px] top-[-108px] z-0" />
      <div className="z-[1] flex flex-grow items-center justify-center gap-x-[53px] self-stretch" >
        <ProfileAvatar className="h-40 w-40 flex-shrink-0" />
        <div className="font-source_sans_pro flex-grow self-stretch text-[22px] leading-[34px] tracking-[0px] text-white" >
          <blockquote>
            « Those tutorials are concise and go straight to the point. I can’t think of a better place to learn smiling. And it’s so fun!
          </blockquote>
          <figcaption className="pt-[22px] font-bold">
            Person Name
          </figcaption>
          <div className="italic">weather presenter</div>
        </div>
      </div>
    </div>
  );
}

interface TestimonialCardProps {
  className?: string;
}



export default function TutorialCard({
  className = "",
  text = "8 min",
  backgroundImageStyle = "",
  title = "Diagonal Smile",
  description = "Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod.",
  authorName = "Phillip Massey",
}: TutorialCardProps) {
  return (
    <article
      className={`z-0 flex flex-shrink-0 flex-col items-center gap-y-[7.6px] rounded-[5px] bg-white pb-[15px] drop-shadow-lg ${className}`}
    >
      <div className="absolute bottom-[11px] right-[22px] z-0 h-7 w-[34px] flex-shrink-0 text-right font-semibold leading-[27px] text-purple-400" >
        {text}
      </div>
      <figure
        className={`z-[1] flex items-center justify-center self-stretch bg-cover bg-center py-11 pl-12 pr-11 ${backgroundImageStyle}`}
      >
        <Play className="z-[1] h-16 w-16 flex-shrink-0" />
      </figure>
      <div className="self-stretch px-[13px] pt-2.5 font-bold leading-[normal] text-slate-900" >
        {title}
      </div>
      <div className="flex items-center self-stretch pl-[13px] leading-6 text-slate-900/50" >
        <p>{description}</p>
      </div>
      <div className="flex self-stretch pt-1.5">
        <div className="flex items-center justify-end gap-x-[13px] pl-[13px]">
          <Avatar className="h-[30px] w-[30px] flex-shrink-0" />
          <div className="self-stretch pt-px">
            <figcaption className="font-semibold leading-[27px] text-purple-400" >
              {authorName}
            </figcaption>
          </div>
        </div>
      </div>
      <div className="z-[5] flex items-end self-stretch px-[13px] pt-[6.4px]">
        <Rating className="h-[15px] w-28 flex-shrink-0" />
      </div>
    </article>
  );
}

interface TutorialCardProps {
  className?: string;
  text: string;
  backgroundImageStyle: string;
  title: string;
  description: string;
  authorName: string;
}

export default function Part_3_free_membership({
  className = "",
}: Part_3_free_membershipProps) {
  return (
    <div className={`flex w-full flex-col ${className}`}>
      <section className="bg-t-bg-background-free-membership-tttsmile-tlorem-ipsum-lorem-ipsum-dolor-si-ttsmile-tlorem-ipsum-lorem-ipsum-dolor-si-ttsmile-tlorem-ipsum-lorem-ipsum-dolor-si-tttsmile-tlorem-ipsum-lorem-ipsum-dolor-si-tbutton_background font-source_sans_pro relative z-0 flex flex-grow flex-col items-center justify-end gap-y-[85px] bg-cover bg-center px-40 pb-[52px] pt-44 text-center text-sm tracking-[0px] text-white" >
        <div className="absolute left-[calc(50%_+_-20px_+_-83px)] top-[70px] z-0 h-10 w-60 flex-shrink-0 text-[32px] leading-[normal]" >
          <span className="font-bold text-purple-400">{"Free "}</span>
          <span className="font-light">membership</span>
        </div>
        <section className="z-[2] flex flex-wrap justify-center gap-x-7 gap-y-7 self-stretch leading-[26px] min-[1430px]:flex-nowrap" >
          <article className="flex w-64 flex-shrink-0 flex-col items-center gap-y-[13px]" >
            <div className="flex items-center justify-center self-stretch pl-[0.09px]" >
              <Smile className="h-9 w-11 flex-shrink-0" />
            </div>
            <div className="self-stretch pt-3.5 text-center text-lg font-semibold leading-[26px]" >
              Lorem ipsum
            </div>
            <p className="w-52 text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </article>
          <MembershipFeature
            className="w-64"
            text="Lorem ipsum"
            containerWidth="w-56"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
           />
          <MembershipFeature
            className="w-64"
            text="Lorem ipsum"
            containerWidth="w-52"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
           />
          <div className="flex w-64 flex-shrink-0 flex-col pl-0.5">
            <div className="flex flex-grow flex-col items-center gap-y-[13px]" >
              <div className="flex items-center justify-center self-stretch pl-[0.09px]" >
                <Smile2 className="h-9 w-11 flex-shrink-0" />
              </div>
              <div className="self-stretch pt-3.5 text-center text-lg font-semibold leading-[26px]" >
                Lorem ipsum
              </div>
              <p className="w-52 text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </section>
        <div className="z-[3] flex justify-center self-stretch pl-[1.1e-13px]" >
          <button className="flex items-center justify-center rounded-[22px] bg-purple-400 py-[13px] pl-[22px] pr-5 font-semibold leading-[normal]" >
            REGISTER FOR FREE
          </button>
        </div>
      </section>
    </div>
  );
}

interface Part_3_free_membershipProps {
  className?: string;
}
